html,body{margin:0;padding:0;background:#fff url(../images/base_bg.gif) top repeat-x;width:100%;height:100%;}
* html #wrap{height: 100%;}
p,td{font-family:Arial, Helvetica, sans-serif; margin-top: 0px;}
a img{border:0;}
a{color: #1b6095;text-decoration: underline;}
a:hover{color: #2689d5;	text-decoration: none;}
a.hidden{text-decoration: none;color: #000;cursor:default;}
form{margin:0;padding:0;}
div.clr{clear:both;}

ul{margin-left:20px;margin-top:0px;padding:1px;list-style-type: square;line-height: 16px;}
h1{font-size: 18px;font-weight:normal;color:#000;margin:0px 0 10px;}

#wrap{position:relative; min-height:100%; margin:0 auto; width:100%;}
#page{width:920px;margin:0 auto; background:#FFF;}

#header{position:relative; width:301px; background:url(../images/img01.jpg) no-repeat; height:440px;}

#logo{ position:absolute; margin:0px 0 0 46px;}
#company_name{font-size:23px;font-weight:normal;text-transform: none;color: #1c1c1c; font-family:Arial, Helvetica, sans-serif; position:absolute; margin:10px 0 0 100px;}

#city{font-size:14px;font-weight:normal;text-transform: none;color: #000; font-family:Arial, Helvetica, sans-serif; position:absolute; margin:30px 0 0 100px;}


#menu{color:#FFF;font-weight:normal; margin:110px 0 0; width:618px; position:absolute; font-family:Arial, Helvetica, sans-serif; text-align:center;}
	#menu td{text-align:center; padding:0 12px; font-size:14px;}
	#menu a{text-decoration:underline;color: #FFF;}
	#menu a:hover{color: #033;text-decoration: underline;}

#news{font-size:30px;font-weight:normal;text-transform: none;color: #000; font-family:segoe print; position:absolute; margin:0px 0 0 55px;}


#svitok{font-size:30px;font-weight:normal;text-transform: none;color: #000; font-family:Burlak, Helvetica, sans-serif; position:absolute; margin:0px 300 300 60px;}

#schetchik{font-size:30px;font-weight:normal;text-transform: none;color: #000; font-family:Burlak, Helvetica, sans-serif; position:absolute; margin:5px 88 120 820px;}


#contentwrap{position:relative; overflow:hidden;}
#body_area{color: #000;text-align: justify;padding: 0px;vertical-align: top; float:right; width:619px;}
	#topline{background:url(../images/bg01.jpg) no-repeat; height:153px;}
		#search-box{position:absolute; margin:33px 0 0 320px; width:270px;}
		#login_form{background: #fff;height:24px;width:191px;font-size: 12px; border:none; font-family:Arial, Helvetica, sans-serif;}
	#content{font-family:tahoma; font-size:12px; padding:15px 20px; background:url(../images/body-bg.gif) repeat-y;}
		.body-bottom{background:url(../images/body-bottom.gif) no-repeat; height:10px; overflow:hidden;}

#sidebar{ float:left; width:301px; font-size:12px; font-family:tahoma;}
	#l-content{margin:45px 20px 15px 10px; text-align:justify;}

#footer{width:920px; background:#3380CC; color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
	#bottom_addr{color: #FFF;text-align:center;padding: 4px 15px 15px; font-size:11px;}
	#bottom_addr a{text-decoration:underline; color:#FFF;}
	#bottom_addr a:hover{text-decoration: underline;}

	#bottom_menu{color: #fff;text-align: center;padding: 15px 15px 4px; font-size:13px;}
	#bottom_menu a{color: #fff;text-decoration:underline;}
	#bottom_menu a:hover{color: #033;text-decoration:underline;}
	#footer .top{background:url(../images/footer_top.gif) no-repeat; height:10px; overflow:hidden;}
	#footer .bottom{background:url(../images/footer_bottom.gif) no-repeat; height:10px; overflow:hidden;}


